body {
    font-family: open-sans, sans-serif;
    background-color: beige;
}
.title {
    display: flex;
    margin: auto;
    justify-content: center
}
.title-text {
    display: flex;
    flex-direction: column;
}
.title img {height: 130px;}
.title h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
    color: #405f7e;
}
.title h3 {
    font-size: 20px;
    margin-top: 0;
    color: #2d465f;
}
.txt1 {
    width: 60%;
    display: flex;
    margin: auto;
    background-image: url("images/bg-txt1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: #2d465f 2px solid;
}
.txt1 p {
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(1px 1px 5px rgba(255,255,255, 1));
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #405f7e;
    padding: 10px;
    margin:auto;
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
    border: #2d465f 2px solid;
}.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
.js-content {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border: #2d465f 2px solid;
    border-radius: 10px;
    background-color: #91bfeb;
}
.js-content p {
    margin: 10px;
    font-size: 18px;
    color: #2d465f;
}